.benefits {
    padding-top: 60px;
    @media (min-width: 1200px) {
        padding-top: 94px;
        display: flex;
    }
}

.benefits-list {
    margin-bottom: -30px;
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
    }

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.benefits-list__item {
    width: 100%;
    margin-bottom: 30px;
    @media (min-width: 768px) {
        margin-right: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }
}

.benefits-list__box {
    display: flex;
    height: 120px;
    background-color: var(--section-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.benefits-list__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--secondary-title-color);
    margin-bottom: 10px;
}

.benefits-list__text {
    font-size: 14px;
    line-height: 1.7;
}