.customers-section__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.14;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 30px;
    
    @media (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 50px;
    }
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.customers-list__item {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);

    @media (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
    }
}

.customers-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        cursor: pointer;
        border-color: var(--active-color);
        outline: none;
    }
}

.customers-list__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .customers-list__link:hover &,
    .customers-list__link:focus & {
        fill: var(--active-color);
    }
}