.doing__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 50px;
}

.doing-list {
    display: flex;
    margin-right: -30px;
}

.doing-list__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
}

.doing-list__text {
    position: absolute;

    width: 100%;
    height: auto;

    left: 0;
    bottom: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}