.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;

    padding-top: 40px;
    padding-bottom: 40px;

    background-color: var(--primary-title-color);

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8); 
        opacity: 0;
    }
}

.modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    background-color: var(--primary-title-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
    }
}

.modal__close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal__close-button:hover > &,
    .modal__close-button:focus > & {
        fill: var(--active-color);
    }
}

.modal__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--secondary-title-color);

    margin-bottom: 12px;
}