.project-list {
    padding-top: 40px;
    margin-bottom: -30px;

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        padding-top: 30px;
    }
    @media (min-width: 1200px) {
        padding-top: 50px;
    }
    
}

    .project-list__item {
        margin-bottom: 30px;

        @media (min-width: 768px) {
            flex-basis: calc(100% / 2 - 30px);
            margin-right: 30px;
        }

        @media (min-width: 1200px) {
            flex-basis: calc(100% / 3 - 30px);
        }
    }

.project-list__item {
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }
}

.project-list__link {
    display: inline-block;
    color: var(--primary-text-color);
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        outline: none;
    }
}

.project-list__thumb {
    position: relative;
    overflow: hidden;
}

.project-list__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-title-color);

    padding-right: 77px 24px;
    @media (min-width: 768px) {
        padding: 49px 24px;
    }

    @media (min-width: 1200px) {
        padding: 63px 24px;
    }
    opacity: 0;

    transform: translatey(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .project-list__link:hover &,
    .project-list__link:focus & {
        opacity: 1;
        transform: translatey(-100%);
    }
}

.project-card {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-card__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
}

.project-card__title {
    &:not(:last-child) {
        margin-bottom: 4px;
    }
}

.project-card__text {
    font-size: 16px;
    line-height: 1.9;
}