.team {
    background-color:var(--section-background-color);
}

.team__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 50px;
        }
}

.team-list {
    margin-bottom: -30px;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    }

    @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    }
}

.team-list__item {
    width: 100%;
    margin-bottom: 30px;

    background-color: var(--header-background-color);
    background: var(--primary-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-right: 30px;
    }
}

.team-list__card {
    padding-top: 30px;
    padding-bottom: 24px;
    
    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
        }
}

.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center; 
    color: var(--secondary-title-color);
    margin-bottom: 10px;
}

.team-list__work-position {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 16px;
}

