.team {
    min-width: 1200px;
    background-color:var(--section-background-color);
}

.team__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-title-color);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    margin-right: -30px;
}

.team-list__item {
    background-color: var(--header-background-color);
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    background: var(--primary-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center; 
    color: var(--secondary-title-color);
    margin-bottom: 10px;
}

.team-list__work-position {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 16px;
}

